:root {
    --primary-main: #3A10E5;
    --secondary-main: #FACB3B;
    --pink: #F966FF;
}

*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e4e4e4;
}

.nav-container {
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    font-weight: 500;
    width: 100%;
    margin-bottom: 3rem;
}

.nav-container ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-container ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-container ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

.nav-container ul li:nth-child(1) a {
    color: var(--primary-main);
}

#hero {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;

}

#hero .cta {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero .cta h1 {
    font-size: 46px;
    font-weight: 600;
}

#hero .cta p {
    width: 500px;
    font-size: 14px;
    margin: 2rem 0;
    line-height: 2rem;
}

#hero .cta button {
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-main);
}

#container-fiture {
    padding: 3rem 6rem;
    background-color: var(--secondary-main);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

#container-fiture .card-fiture {
    align-items: center;
    display: flex;
    gap: 2rem;
}

#container-fiture .card-fiture div h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

#container-fiture .card-fiture div p {
    font-size: 15px;
}

#populer {
    height: max-content;
    width: 100%;
    padding: 3rem 6rem;
}

#populer .nav h1 {
    position: relative;
    z-index: 10;
}

#populer .nav h1 span {
    width: 98px;
    padding: 4px;
    position: absolute;
    background-color: var(--secondary-main);
    margin: 0 auto;
    bottom: 5px;
    z-index: -10;
    right: 0;
    opacity: 50%;
}

#populer .nav {
    display: flex;
    justify-content: space-between;
}

#populer .nav div {
    display: flex;
    gap: 1rem;
}

#populer .nav div button:nth-child(1) {
    border: none;
    padding: 8px;
    background-color: #fff;
    opacity: 1;
    box-shadow: 0px 0px 50px 9px rgba(0, 0, 0, 0.165);

}

#populer .nav div button {
    border: none;
    padding: 8px;
    background-color: transparent;
    text-transform: capitalize;
    opacity: 0.5;
    cursor: pointer;
}

#populer .populer-content {
    height: max-content;
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-around;
}

#populer .populer-content div {
    background-color: #fff;
    width: 270px;
}


#populer .populer-content div .info {
    position: relative;
}

#populer .populer-content div .info span {
    position: absolute;
    padding: 0px 4px;
    box-shadow: 4px 4px 1px 0px rgba(0, 0, 0);
    top: 8px;
    left: 8px;
}

#populer .populer-content div .img-card {
    width: 100%;
}

#populer .populer-content div .card-content {
    padding: 18px 20px;
}

#populer .populer-content .card-content .mentor {
    font-size: 14px;
    font-weight: 500;
    color: purple;
}

#populer .populer-content .card-content h3 {
    width: 250px;
    font-size: medium;
}

#populer .populer-content .card-content .action {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 10 px;
}

#populer .populer-content .card-content .beginner {
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
}

#populer .populer-content .card-content .lesson {
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
}


#promotion div {
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF0E5;
}

#promotion div h1 {
    font-size: 40px;
    font-weight: 600;
    width: 600px;
}

#promotion div button {
    padding: 10px 30px 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-main);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

#katagori {
    padding: 3rem 6rem;
    width: 100%;
}

#katagori h1 {
    text-align: center;
    z-index: 10;
    position: relative;
}

#katagori h1 span {
    width: 100px;
    padding: 4px;
    position: absolute;
    background-color: var(--secondary-main);
    margin: 0 auto;
    bottom: 5px;
    z-index: -10;
    right: 40.8%;
    opacity: 50%;
}

#katagori .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#katagori .container .card-katagori {
    display: flex;
    padding: 8px 16px;
    width: 250px;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    gap: 16px;
}

#katagori .container .card-katagori .layer {
    background-color: #F0F3FF;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

#katagori .container .card-katagori .info p:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
}

#katagori .container .card-katagori .info p:nth-child(2) {
    color: gray;
    font-size: 12px;
}

#katagori .pagination {
    margin: 0 auto;
    border: none;
    background-color: transparent;
    color: var(--primary-main);
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 8px;
}

#about {
    padding: 3rem 6rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: #F0F3FF;
    justify-content: space-between;
}

#about .content {
    width: 500px;
}

#about .content h1 {
    font-size: 45px;
    font-weight: 600;
}

#about .content p {
    font-size: 16px;
    color: gray;
    margin: 20px 0;
}

#about .content button {
    width: 200px;
    padding: 10px 20px;
    text-align: left;
    background-color: var(--primary-main);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#event {
    padding: 3rem 6rem;
    height: max-content;
}

#event h1 span {
    width: 250px;
    padding: 4px;
    position: absolute;
    background-color: var(--secondary-main);
    margin: 0 auto;
    bottom: 5px;
    z-index: -10;
    left: 36%;
    opacity: 50%;
}

#event h1 {
    text-align: center;
    position: relative;
    z-index: 10;
}

#event .container-card {
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
}


#event .container-card .card-event {
    width: 370px;
    text-align: left;
}

#event .container-card .card-event .img-event {
    width: 100%;
}

#event .info {
    margin: 10px 0px;
    display: flex;
    gap: 16px;
    align-items: center;
}

#event .info div:nth-child(1) {
    text-align: center;
    border-right: 2px solid lightgray;
    padding: 8px;
}

#event .info div:nth-child(1) h2 {
    color: var(--primary-main);
    line-height: 1rem;
}

#event .info div:nth-child(1) p {
    color: gray;
}

#event .info div:nth-child(2) {
    display: flex;
    align-items: center;
    color: gray;
}

#event .card-event h2 {
    font-size: 20px;
}

footer {
    padding: 3rem 6rem;
    height: 420px;
    background-color: #090E23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

footer div img {
    margin: 10px 0px;
}

footer div p {
    color: #808080;
}

footer .brand {
    display: flex;
    margin: 20px 0px;
    gap: 2rem;
}

footer .point {
    height: 200px;
}

footer .point h3 {
    color: white;
    margin-bottom: 30px;
}

footer .point ul {
    list-style-type: none;
}

footer .point ul li {
    list-style-type: none;
    color: gray;
}

.bottom {
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    width: 88%;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 12px 0px;
}

.bottom ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}